# we must include the valve spec in the Tomcat configuration for this to work

#
# if we're coming in using the old scheme, app?tab, remap to new scheme and then fall through
#
RewriteCond %{QUERY_STRING} ^([-a-z0-9]+)$
RewriteRule .* /%1

RewriteRule ^/collaborating-sites/(.*)$ /overview/collaborating_sites/$1 [L]

#
# map references to the first version of public-health to the new one and then fall through
#
RewriteRule ^/public-health(.*)$ /new-ph$1

#
# internally map the tab "path" to an argument
#

#
# rewrite all primary pages so don't need .jsp
#
RewriteRule ^/([-_A-Za-z0-9]+)$ /$1.jsp [L]

#
# URL rewrites for new-ph dashboards only paramed values
#
RewriteCond %{REQUEST_URI} ^/.*(admin|public-health|recover).*
RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1.jsp?secondary_tab=$2 [L]
RewriteCond %{REQUEST_URI} ^/.*(admin|public-health|recover).*
RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1.jsp?secondary_tab=$2&tertiary_tab=$3 [L]

#
# URL rewrites for phastr dashboards
#
RewriteCond %{REQUEST_URI} ^/.*(phastr).*
RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1/$2/index.jsp [L]
RewriteCond %{REQUEST_URI} ^/.*(phastr).*
RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1/$2/index.jsp?tertiary_tab=$3 [L]

#
# URL rewrites for pages within folders to remove .jsp
#
RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1/$2.jsp [L]
